* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

main h2 {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  height: 10%; }

header {
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  header .letracolorblanco {
    color: whitesmoke; }
  header a {
    margin-left: 50px; }
    header a:hover {
      font-weight: 900;
      animation-name: cambiocolor;
      animation-duration: 3s;
      animation-iteration-count: infinite; }
    header a img {
      width: 100px; }

@keyframes cambiocolor {
  0% {
    color: blue; }
  50% {
    color: aqua; }
  100% {
    color: black; } }

footer {
  background-color: #848c88;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  background-image: linear-gradient(to top, gray, #353535, #353535); }
  footer .redesociales a {
    color: #EDF2F4;
    border-radius: 100px;
    padding: 1rem; }
  footer ul {
    list-style: none; }
    footer ul .navegable {
      width: 30%;
      display: flex;
      padding: 1rem;
      justify-content: space-around; }
  footer .navegable {
    width: 30%;
    display: flex;
    padding: 1rem;
    justify-content: space-around; }
  footer a {
    color: #EDF2F4;
    text-decoration: none;
    list-style: none; }
    footer a:hover {
      color: black;
      font-weight: 900; }

.footer a:hover {
  color: black;
  font-weight: 900; }

main {
  background-color: #2b2d42;
  padding: 5px; }
  main .slider {
    border: 1px solid black;
    border-radius: 30px;
    background-image: url(../prototipo/fondo2.jpg);
    background-size: cover; }
  main .video1 {
    display: flex;
    display: row;
    align-items: flex-end;
    padding: 5px;
    margin-top: 40px;
    align-content: center; }
    main .video1 video {
      width: 50%; }
    main .video1 p {
      width: 50%;
      align-items: center;
      margin: auto;
      color: whitesmoke; }
    main .video1 h2 {
      color: #D9D9D9;
      width: 50%;
      align-items: center;
      padding: 30px;
      margin-bottom: 89px;
      margin: auto;
      color: whitesmoke;
      align-content: center; }

@media (max-width: 980px) {
  .video1 {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 40px;
    flex-direction: column-reverse; } }

.tarjetastorneos {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; }

@media (max-width: 980px) {
  .tarjetastorneos {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: column; } }

.maincontacto {
  background-image: url(../prototipo/fondo2.jpg);
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .maincontacto .formulario {
    border: 1px solid black;
    border-radius: 30px;
    padding: 17px;
    width: 300px;
    background-color: #848c88; }
    .maincontacto .formulario:hover {
      background-color: black;
      color: whitesmoke;
      border: 1px solid gray;
      border-radius: 30px;
      padding: 17px;
      width: 300px; }
  .maincontacto .jugadorlogo {
    width: 500px;
    height: 500px; }

@media (max-width: 980px) {
  .maincontacto {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: column-reverse; } }

main {
  background-color: #2b2d42;
  padding: 5px; }
  main .imagenpredio {
    width: 100%; }
  main .predio {
    display: flex;
    color: whitesmoke; }
  main .patio {
    margin: auto;
    padding: 17px;
    width: 300px; }

@media (max-width: 980px) {
  .predio {
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    align-content: flex-start;
    align-items: center; } }

.mainrelgamento {
  border: 1px solid black;
  border-radius: 30px;
  padding: 17px;
  width: 98%;
  background-color: #848c88;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto; }
  .mainrelgamento .letrajustificada {
    font-weight: 900; }
