*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.contenedor{
    width: 99%;
    margin: 5px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "header header header"
    "video1 eventos eventos"
    "galeria galeria galeria"
    "footer footer footer" ;

}
.header{
    grid-area: header;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    background-image: linear-gradient(to bottom, black, gray);
}
header img{
    transform: translate(0px, 50px);
}
header img:hover{
    height: 50px; 
    
}
header a{
    color: rgb(249, 246, 255);
    text-decoration: none;
    text-transform: uppercase;
    height: 10%;
}
header a:hover{
    color: black;
    font-weight: 900;
}

.header ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
}
.header li{
    padding: 100px;
    text-decoration: none;
}
.video1{
    grid-area: video1; 
    background-color: #848c88;
    align-content: center;
}
.video1 video{
    height: 500px;
    width: 400px;
}
.eventos{
    grid-area: eventos;
    background-color: #848c88;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventos section{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.eventos img{
    height: 480px;
    width: 500px;
    transform: skew(358deg);
}

.galeria{
    grid-area: galeria;
    background-color: #848c88;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galeria section{
    display:flex;
    flex-direction: row;
}
.galeria img{
    height: 300px;
    width: 300px;
    padding: 10px;
}
.footer{
    grid-area: footer;
    background-color: #848c88;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    background-image: linear-gradient(to top, black, gray);
}
.footer ul{
    list-style: none;
}
.redesociales a{
    color:#EDF2F4;
    border-radius: 100px;
    padding: 5px;
}
.navegable a{
    color:#EDF2F4;
    text-decoration: none;
    list-style: none;
}
.footer a:hover{
    color: black;
    font-weight: 900;
}

@media (max-width:758px) {
    .contenedor{
        width: 99%;
        margin: 5px auto;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "header header header"
        "eventos eventos eventos"
        "galeria galeria galeria"
        "footer footer footer" ;
    
    }
    .header{
        grid-area: header;
        background-color: gray;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }

}