header{
    background-color: #353535;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    .letracolorblanco{
        color: whitesmoke;
    }
    a{
        margin-left: 50px;
        
        &:hover{
           
            font-weight: 900;
            animation-name: cambiocolor;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        img{
            width: 100px;
        }
    }

}
@keyframes cambiocolor{
    0%{color:blue;}
    50%{color:aqua;}
    100%{color:black;}
}
